body {
  letter-spacing: 1px;
}

h3, h4 {
  font-weight: 200;
}

h1 {
  font-size: 60px;
  color: #F4CA3A;
  font-weight: bold;
}

h3 {
  font-size: 36px;
}

h5 {
  font-size: 18px;
  font-weight: lighter;
}

.data {
  margin-top: 100px;
}

div {
  margin: 20px 0;
}


/*-- Navbar --*/
.navbar {
  border-radius: 0px;
}

.navbar-yellow {
  background-color: #F4CA3A;
  color: #FFF;
  padding: 0 10px;
}
